/*  ---------------------------------------------------------------------------------------------------  */
/*  Reservia css global                                                                                  */
/*  ---------------------------------------------------------------------------------------------------  */

/*  google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*  ---------------------------------------------------------------------------------------------------  */

:root {
  --bluedark: #0065fc;
  --bluelite: #deebff;
  --grayback: #f2f2f2
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box
}

html {
  font-size: 100%
}

h1 {
  display: none
}

h2 {
  font-size: 1.35rem;
  color: black
}

h3 {
  font-size: 1.1rem;
  line-height: 3rem
}

h4 {
  font-size: 1rem;
  color: black
}

a {
  color: black;
  text-decoration: none
}

ul {
    list-style: none;
}

input {
  font-weight: bold;
  font-size: 0.9rem;
  color: black
}

body,
input {
    font-family: Raleway, sans-serif
}

body {
  height: 100%;
  width: 100%;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2;
  color: black;
  background-color: white;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1
}

footer {
  background-color: var(--grayback)
}

#wrapper {
  min-height:100vh;
}

.inner {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px
}

.flex-row {
  display: flex;
  flex-direction: row
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap
}

.flex-col {
  display: flex;
  flex-direction: column
}

.flex-col-wrap {
  display: flex;
  flex-flow: column wrap
}

/*  ---------------------------------------------------------------------------------------------------  */
/*  header                                                                                               */
/*  ---------------------------------------------------------------------------------------------------  */

.head-flex {
  align-items: flex-end;
  margin-bottom: 0.8rem
}

.head-logo {
  flex: 1
}

#head-nav ul {
  text-align: center;
  display: flex
}

#head-nav li {
  width: 8rem;
  cursor: pointer
}

      #head-nav li:first-child {
        width: 12.4rem
      }

#head-nav a {
  display: block;
  padding: 2.5rem 2rem 1.5rem 2rem;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: black
}

      #head-nav a:hover {
        font-weight: bold;
        color: var(--bluedark);
        border-top: 3px solid var(--bluedark);
        border-bottom: 3px solid transparent
      }

      #head-nav a.head-nav-signup {
        font-weight: bold;
        color: var(--bluedark)
      }

/*  ---------------------------------------------------------------------------------------------------  */
/*  main                                                                                                 */
/*  ---------------------------------------------------------------------------------------------------  */

/*  title / sub title                                                                                    */
/*  ---------------------------------------------------------------------------------------------------  */

.main-title {
  margin: 1rem 0
}

.main-title-sub {
  margin-top: 0.6rem
}

/*  search                                                                                               */
/*  ---------------------------------------------------------------------------------------------------  */

.search {
  position: relative;
  margin: 1.2rem 0
}

.search-icon,
.search {
  display: inline-flex;
  align-items: center
}

.search-icon {
  font-size: 1.2rem;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--grayback);
  border-radius: 1rem 0 0 1rem
}

.search-input {
  font-size: 1.1rem;
  height: 3.2rem;
  width: 14.7rem;
  padding: 1rem;
  border: 1px solid var(--grayback)
}

.search-submit {
  font-size: 1.05rem;
  height: 3.2rem;
  padding: 0 1.2rem;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: var(--bluedark);
  border-radius: 0 1rem 1rem 0;
  cursor: pointer
}

.search-submit-icon {
  font-size: 1.05rem;
  height: 3.2rem;
  width: 3.2rem;
  color: white;
  background-color: var(--bluedark);
  border-radius: 1rem;
  cursor: pointer;
  display: none
}

/*  filters                                                                                              */
/*  ---------------------------------------------------------------------------------------------------  */

.filter {
  align-items: center;
  margin: 1rem 0
}

.filter h3 {
  padding-right: 2rem
}

.filter li {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin-right: 1.4rem;
  padding-right: 1.4rem;
  height: 3.2rem;
  border: 2px solid gainsboro;
  border-radius: 2rem;
  cursor: pointer
}

      .filter li:hover {
        color: var(--bluedark);
        border: 2px solid var(--bluelite);
      }

.filter-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: var(--bluedark);
  margin-left: -2px;
  margin-right: 0.8rem;
  padding: 0;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  background-color: var(--bluelite)
}

.filter-results {
  margin: 1rem 0;
  align-items: center
}

.filter-results i {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  color: var(--bluedark);
  border-radius: 50%;
  border: 2px solid gainsboro
}

/*  activities                                                                                           */
/*  ---------------------------------------------------------------------------------------------------  */

.activ-section {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.activ-section-title {
  line-height: 5rem
}

.activ-section-box {
  height: 27.9rem;
  justify-content: space-between;
  align-content: space-between
}

.activ-box {
  width: 22.4%;
  box-shadow: 0px 2px 10px -2px rgba( 0, 0, 0, 0.2);
  border-radius: 1rem
}

      .activ-box:hover {
        box-shadow: 0px 2px 10px -2px rgba( 0, 0, 0, 0.4);
        cursor: pointer
      }

      .activ-box img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 1rem 1rem 0 0
      }

      .activ-box figcaption {
        padding: 1rem 1rem 0 1rem
      }

.activ-box-size5 {
  height: 27.9rem
}

      .activ-box-size5 img {
        height: 87.4%
      }

.activ-box-size4 {
  height: 14.8rem
}

      .activ-box-size4 img {
        height: 76.2%;
        object-position: center
      }

.activ-box-size3 {
  height: 13.085rem
}

      .activ-box-size3 img {
        height: 73.5%
      }

.activ-box-size2 {
  height: 12.21rem
}

      .activ-box-size2 img {
        height: 71.6%
      }

.activ-box-size1 {
  height: 10.3rem
}

      .activ-box-size1 img {
        height: 66.2%
      }

/* ---------------------------------------------------------------------------------------------------- */
/* footer
/* ---------------------------------------------------------------------------------------------------- */

#foot-nav > ul {
  padding: 2rem 0
}

.foot-nav-sub {
  min-width: 15rem;
  flex: 1 1 0;
  padding-bottom: 1rem
}

      .foot-nav-sub > ul > li {
        line-height: 2rem
      }

      .foot-nav-sub a:hover {
        color: var(--bluedark)
      }

/* ---------------------------------------------------------------------------------------------------- */
/* tablet                                                                                               */
/* ---------------------------------------------------------------------------------------------------- */

@media (max-width: 1200px) {

      .activ-box {
        width: 48%;
        height: 20rem
      }

            .activ-box img {
              height: 82.5%
            }

      .activ-section-box {
        height: 64rem;
      }

}

/* ---------------------------------------------------------------------------------------------------- */
/* phone                                                                                               */
/* ---------------------------------------------------------------------------------------------------- */

@media (max-width: 800px) {

      header.inner {
        padding: 0
      }

      .head-flex {
        margin: 1rem 0
      }

      .head-logo {
        margin: 0.5rem 20px;
        align-items: center;
        flex: 100%
      }

      #head-nav {
        width: 100%
      }

      #head-nav li {
        flex: 1
      }

      #head-nav li:last-child {
        position: absolute;
        top: 0rem;
        right: 0px;
        padding: 0;
        cursor: auto
      }

      #head-nav a {
        width: 100%;
        padding-top: 0.8rem;
        padding-bottom: 0.6rem;
        border-top: 3px solid transparent;
        border-bottom: 3px solid var(--grayback)
      }

      #head-nav a:hover {
        border-top: 3px solid transparent;
        border-bottom: 3px solid var(--bluedark)
      }

      #head-nav a.head-nav-signup {
        padding: 2rem 20px 1rem 1rem;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent
     }

      #head-nav a.head-nav-signup:hover {
        border-top: 3px solid var(--bluedark);
        border-bottom: 3px solid transparent
      }

      .search {
        margin: 1rem 0
      }

      .search-input {
        width: 15rem
      }

      .search-submit {
        display: none
      }

      .search-submit-icon {
        display: block;
        position: absolute;
        right: -2.5rem
      }

      .filter {
        margin: 0.2rem 0
      }

      .filter li {
        font-size: 1rem;
        margin-bottom: 0.8rem;
        margin-right: 0.8rem;
        padding-right: 0.9rem
      }

      .filter-badge {
        margin-right: 0.6rem
      }

      .activ-box {
        height: 12.4rem;
        width: 100%
      }

            .activ-box img {
              object-position: center;
              height: 72%
            }

      .activ-section-box {
        height: 82rem
      }

}
