/* ---------------------------------------------------------------------------------------------------- */
/* Reservia css global                                                                                  */
/* ---------------------------------------------------------------------------------------------------- */

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");

/* ---------------------------------------------------------------------------------------------------- */

:root {
  --bluedark: #0065fc;
  --bluelite: #deebff;
  --grayback: #f2f2f2;
  --graytext: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-weight: medium;
  font-size: 0.8rem;
  background-color: white;
  color: black;
}

h1,
h2 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  color: black;
}

h3 {
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  color: black;
}

h4 {
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
}

p {
  color: var(--graytext);
}

a {
  color: black;
  text-decoration: none;
}

input {
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
}

.page {
  max-width: 1200px;
  margin: 2px auto;
}

header {
  display: flex;
  align-items: center;
}

.header-logo {
  flex: 1;
}

.header-nav,
.header-nav-links a,
.header-signup {
  padding: 3rem 1.6rem 2rem 1.6rem;
}

.header-nav-links {
  display: flex;
  list-style: none;
}

.header-nav-links a {
  border-top: 3px solid transparent;
  letter-spacing: 0.01rem;
  color: black;
}

.header-nav-links a:hover {
  text-decoration: underline;
  border-top: 3px solid var(--bluedark);
  background-color: var(--bluelite);
}

.header-nav-links a.focus-link {
  color: var(--bluedark);
  border-top: 3px solid var(--bluedark);
}

.header-signup {
  font-weight: bold;
  color: var(--bluedark);
}

.header-signup:hover {
  text-decoration: underline;
  background-color: var(--bluelite);
}

.title,
.search {
  margin: 1rem 0;
}

.search form,
.filters {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: center;
  border: 1px solid var(--grayback);
  background-color: var(--grayback);
  border-radius: 0.75rem 0 0 0.75rem;
}

.search-icon img {
  vertical-align: middle;
}

.search-input {
  height: 2.6rem;
  padding: 1rem;
  border: 1px solid var(--grayback);
}

.search-button {
  height: 2.6rem;
  padding: 0 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  line-height: 2.6rem;
  color: white;
  text-align: center;
  border: 1px solid var(--bluedark);
  background-color: var(--bluedark);
  border-radius: 0 0.75rem 0.75rem 0;
}

.search-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.filters h3 {
  padding-right: 1rem;
}

.filter-button {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding-right: 1rem;
  height: 2.6rem;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  color: black;
  text-align: center;
  border: 2px solid gainsboro;
  background-color: white;
  border-radius: 1.25rem;
  cursor: pointer;
}

.filter-button img {
  margin: -2px;
  padding: 0;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.8rem;
  background-color: var(--bluelite);
  border-radius: 50%;
}

.filter-button span {
  margin-left: 1rem;
}

.filter-button:hover {
  text-decoration: underline;
}
